@model AspNetGroupBasedPermissions.Models.UserPermissionsViewModel
@{ ViewBag.Title = "UserPermissions"; }

<h2>Effective Role Permissions for user: @Html.DisplayFor(model => model.UserName)</h2>
<hr />

<table id="myusers" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Role Permission</th>
            <th>Role Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
        </tbody>
</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#myusers').dataTable();
        });
    </script>
}